### Copy this file as Makefile-Vars and fill in the following variables.

#### Paths ####

# TOOLKIT: Path of Visual C++ 2003 Toolkit
TOOLKIT=C:\Dev\Microsoft Visual C++ Toolkit 2003

# TOOLKIT: Path of Windows PlatformSDK
PSDK=C:\Dev\WindowsSDK

## Uncomment to have newly compiled dlls copied to your mod's directory (you must include the Assets path too)
YOURMOD=..

## Civ install path
## Path to the directory where boost and python is stored
## Overwritten by enviroment variable CIV4_LIB_INSTALL_PATH
#CIV4_PATH=C:\Program Files (x86)\2K Games\Firaxis Games\Sid Meier's Civilization IV Colonization\CvGameCoreDLL

#### Tools ####

CC="$(TOOLKIT)\bin\cl.exe"

CPP="$(TOOLKIT)\bin\cl.exe"

LD="$(TOOLKIT)\bin\link.exe"

RC="$(PSDK)\bin\rc.exe"

## Uncomment to build dependencies using fastdep
FD="$(MAKEDIR)\bin\fastdep.exe"


#### BLACKLIST ####
## Uncomment to block CvTextScreen (accidentally included by Firaxis)
BLACKLIST=CvTextScreens

